.Home {
    .collection{
        margin-top: 40px;
        z-index:1;
        .info{
            
            .collectionSubHeading{
                margin-top: 10px ;
            }
        }

        .collectionContent{
            display: flex;
            justify-content:space-between ; 
            align-items: center;
            row-gap: 40px;
            margin-top: 20px;
            flex-wrap: wrap;
        }
    }
}